# OS files
.DS_Store
Thumbs.db

# Editor / IDE folders
.vscode/
.idea/

# Node / package manager 
node_modules/
npm-debug.log*
yarn-error.log*

# Environment variables
.env

# Build folders 
dist/
build/

# Temporary files
*.log
*.tmp
*.swp
